$primary-color: rgba(63, 169, 246, 0.9);
$primary-color-hover: scale-color($primary-color, $lightness: -50%);
$secondary-color: rgb(255, 123, 172);
$secondary-color-hover: scale-color($secondary-color, $lightness: -50%);
$primary-color-table: rgba(255, 154, 0, 0.2);
$secondary-color-table: rgba(102, 102, 102, 0.2);