@import './onechallenge_colors';
@import "../../styles/general";
@import "../../styles/events";

#cover {
    img {
        @include ImageCenter(200px);
    }
    &:before {
        @include backgroundImg($primary-color-hover);
    }
    background: url(../images/onechallenge-cover.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    .cover-card {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .btn-secondary {
        background: $secondary-color !important;
        border-color: $secondary-color !important;
        box-shadow: none !important;
        &:hover {
            background: $secondary-color-hover !important;
            border-color: $secondary-color-hover !important;
            box-shadow: none !important;
        }
    }
}

#stats {
    .icons {
        font-size: 4em;
        color: $primary-color;
        padding-bottom: 0.5rem;
    }
    .title-stats {
        font-size: 22px;
    }
}